.btn {
	--_height: auto;
	--_font-size: 1rem;
	--_font-weight: 400;
	--_line-height: normal;
	--_color: var(--gray-color--light);
	--_background-color: transparent;
	--_border: 0;
	--_border-radius: 0;
	--_padding-y: 0;
	--_padding-x: 0;

	--_icon-size: 1rem;
	--_icon-color: currentColor;

	--_transition-duration: var(--transition-duration);
	--_transition-type: var(--transition-type);

	--_color-active: var(--light-color);
	--_background-color-active: transparent;
	--_border-color-active: transparent;
	--_icon-color-active: currentColor;

	width: max-content;
	height: var(--_height);

	display: flex;
	align-items: center;
	justify-content: center;
	gap: .625rem;

	font-size: var(--_font-size);
	font-weight: var(--_font-weight);
	line-height: var(--_line-height);
	color: var(--_color);
	background-color: var(--_background-color);
	border: var(--_border);
	border-radius: var(--_border-radius);
	padding: var(--_padding-y) var(--_padding-x);
	transition: color var(--_transition-duration) var(--_transition-type), background var(--_transition-duration) var(--_transition-type), border var(--_transition-duration) var(--_transition-type), transform var(--_transition-duration) var(--_transition-type);
	cursor: pointer;
	outline: none;

	.icon {
		width: var(--_icon-size);
		height: var(--_icon-size);
		color: var(--_icon-color);
		flex-shrink: 0;
	}

	&:is(:focus-visible, :active, .is-active, .mixitup-control-active) {
		color: var(--_color-active);
		background-color: var(--_background-color-active);
		border-color: var(--_border-color-active);

		.icon {
			color: var(--_icon-color-active);
		}
	}
}

.btn-primary {
	--_height: 2.5rem;
	--_color: var(--light-color);
	--_background-color: var(--background-color--gray);
	--_border-radius: .5rem;
	--_padding-x: 1.875rem;

	--_color-active: var(--light-color);
	--_background-color-active: var(--background-color--dark);

	&-lg {
		--_height: 3.75rem;
		--_font-size: 1.125rem;
		--_padding-x: 3.125rem;
	}
}

.btn-secondary {
	--_height: 2.5rem;
	--_color: var(--dark-color);
	--_background-color: var(--background-color--lighter);
	--_border-radius: .5rem;
	--_padding-x: 1.875rem;

	--_color-active: var(--light-color);
	--_background-color-active: var(--background-color--dark);
}

.btn-dark {
	--_height: 2.5rem;
	--_color: var(--light-color);
	--_background-color: var(--background-color--dark);
	--_border-radius: .75rem;
	--_padding-x: 2.5rem;

	--_color-active: var(--dark-color);
	--_background-color-active: var(--background-color--light);

	&-lg {
		--_height: 3.75rem;
		--_font-size: 1.125rem;
		--_padding-x: 3.75rem;
	}
}

.btn-light {
	--_height: 2.5rem;
	--_color: var(--dark-color);
	--_background-color: var(--background-color--light);
	--_border-radius: .75rem;
	--_padding-x: 2.5rem;

	--_color-active: var(--light-color);
	--_background-color-active: var(--background-color--dark);

	&-lg {
		--_height: 3.75rem;
		--_font-size: 1.125rem;
		--_padding-x: 3.75rem;
	}
}

.btn-more {

	.icon {
		transition: transform var(--_transition-duration) var(--_transition-type);
	}

	&.is-open {

		.icon {
			transform: rotateX(180deg);
		}
	}
}

.btn-light--icon {
	--_padding-x: 1.875rem;

	--_icon-size: 1.5rem;

	gap: .875rem;
}

.btn-inherit {
	--_font-size: inherit;
	--_font-weight: inherit;
	--_line-height: inherit;
	--_color: inherit;
	--_background-color: transparent;

	--_color-active: var(--dark-color);

	width: fit-content;
	display: inline-flex;
}

.btn-icon {
	--_size: 2.5rem;
	--_color: var(--dark-color);
	--_background-color: transparent;
	--_border-radius: .625rem;

	--_icon-size: 1.5rem;
	
	--_color-active: var(--dark-color);
	--_background-color-active: var(--background-color--lighter);

	width: var(--_size);
	height: var(--_size);
}

.btn-bag {
	position: relative;
	z-index: 1;

	&::after {
		content: attr(data-bag-current);
		display: block;
		font-size: .75rem;
		font-weight: 500;
		color: var(--dark-color);
		background-color: var(--background-color--light);
		border-radius: 1.5rem;
		padding: .125rem .5rem;
		opacity: 1;
		position: absolute;
		top: -.125rem;
		right: calc(100% - .625rem);
		z-index: -1;
		transition: opacity var(--transition-duration) var(--transition-type);
	}
}

@media (hover: hover) {

	.btn {

		&:hover {
			color: var(--_color-active);
			background-color: var(--_background-color-active);
			border-color: var(--_border-color-active);
	
			.icon {
				color: var(--_icon-color-active);
			}
		}
	}

	.btn-bag {

		&::after {
			opacity: 0;
		}

		&:is(:hover, :focus-visible, :active, .is-active) {

			&::after {
				opacity: 1;
			}
		}
	}

}