.page {

	&-header {
		display: flex;
		flex-wrap: wrap;
		align-items: baseline;
		gap: .75rem 1.25rem;
		background-color: var(--background-color--darker);
		margin-block-end: var(--section-offset);
		border-radius: 1rem;
		padding: 2rem;
	}

	&-title {
		margin-block-end: 0;

		&--center {
			margin-inline: auto;
		}
	}

	&-current {
		font-size: .875rem;
		color: var(--gray-color--lighter);
	}
}