.section {
	margin-block-end: var(--section-offset);

	&-main {
		margin-block-start: var(--section-offset);
	}

	&-hero {
		margin-block-start: 1.875rem;
	}

	&-header {
		margin-block-end: 1.875rem;
	}

	&-title {
		margin-block-end: 0;
	}

	&-button {
		display: flex;
		justify-content: center;
		margin-block-start: var(--section-offset);
	}
}