<article class="card">
	<div class="card__picture">
		<a href="./card.html" class="card__link"></a>
		<div class="card__counter js-counter">
			<button type="button" class="btn btn-icon card__counter-btn js-counter-btn">
				<span class="icon">
					<svg>
						<use xlink:href="img/icons/plus.svg#svg-plus"></use>
					</svg>
				</span>
			</button>
	
			<div class="card__counter-form">
				<button type="button" class="btn btn-icon js-counter-minus">
					<span class="icon">
						<svg>
							<use xlink:href="img/icons/minus.svg#svg-minus"></use>
						</svg>
					</span>
				</button>
				<input type="text" name="counter" class="card__counter-field js-counter-input">
				<button type="button" class="btn btn-icon js-counter-plus">
					<span class="icon">
						<svg>
							<use xlink:href="img/icons/plus.svg#svg-plus"></use>
						</svg>
					</span>
				</button>
			</div>
		</div>
		<picture>
			<source srcset="./img/card/card-1.webp" type="image/webp">
			<img loading="lazy" src="./img/card/card-1.png" class="card__image image" width="132" height="290" alt="Картинка">
		</picture>

		<span class="card__articule">
			EP-215-WH
		</span>
	</div>
	<div class="card__info">
		<h3 class="card__title">
			<a href="./card.html" class="card__link"></a>
			Диспенсер для бумажных полотенец в рулонах ELEOR Profmatic EP-215-WH
		</h3>
		<div class="card__bottom">
			<button type="button" class="btn btn-primary card__btn" data-graph-path="modal-card">
				Купить
			</button>
			<div class="card__price">
				16 990 Р
			</div>
		</div>
	</div>
</article>