<footer class="footer">
  <div class="container">
    <div class="footer__top">
      <ul class="list-reset footer__list">
        <li class="footer__item">
          <h3 class="footer__item-title">
            ПРОДУКЦИЯ
          </h3>
        </li>
        <li class="footer__item">
          <a href="#" class="btn footer__link">
            Диспенсеры
          </a>
        </li>
        <li class="footer__item">
          <a href="#" class="btn footer__link">
            Дозаторы
          </a>
        </li>
      </ul>
      <ul class="list-reset footer__list">
        <li class="footer__item">
          <h3 class="footer__item-title">
            КОЛЛЕКЦИИ
          </h3>
        </li>
        <li class="footer__item">
          <a href="#" class="btn footer__link">
            ELEOR Profmatic
          </a>
        </li>
        <li class="footer__item">
          <a href="#" class="btn footer__link">
            ELEOR Raydex
          </a>
        </li>
      </ul>
      <ul class="list-reset footer__list">
        <li class="footer__item">
          <h3 class="footer__item-title">
            О КОМПАНИИ
          </h3>
        </li>
        <li class="footer__item">
          <a href="#" class="btn footer__link">
            О компании
          </a>
        </li>
        <li class="footer__item">
          <a href="#" class="btn footer__link">
            Доставка и оплата
          </a>
        </li>
        <li class="footer__item">
          <a href="#" class="btn footer__link">
            Контакты
          </a>
        </li>
      </ul>
      <ul class="list-reset footer__list">
        <li class="footer__item">
          <h3 class="footer__item-title">
            ДЛЯ ПРОФЕССИОНАЛОВ
          </h3>
        </li>
        <li class="footer__item">
          <a href="#" class="btn footer__link">
            Дизайнерам и архитекторам
          </a>
        </li>
      </ul>
      <ul class="list-reset footer__list footer__contact">
        <li class="footer__item">
          <h3 class="footer__item-title">
            КОНТАКТЫ
          </h3>
        </li>
        <li class="footer__item">
          <a href="tel:+88006406445" class="btn footer__link">
            8 800 640 64 45
          </a>
        </li>
        <li class="footer__item">
          <a href="mailto:info@eleor.ru" class="btn footer__link">
            info@eleor.ru
          </a>
        </li>
      </ul>
    </div>

    <div class="footer__bottom">
      <div class="footer__logo">
        <a href="./index.html" class="btn footer__logo-link">
          <picture>
            <source srcset="./img/logo@2x.webp" type="image/webp">
            <img loading="lazy" src="./img/logo@2x.png" class="footer__logo-image image" width="103" height="44" alt="Картинка">
          </picture>
        </a>
      </div>
      <p class="footer__copy">
        Официальный сайт производителя ELEOR © 2024 Все права защищены.
      </p>
      <a href="#" class="btn footer__bottom-link">
        Политика конфиденциальности
      </a>
    </div>
  </div>
</footer>
