<header class="header">
  <div class="container header__container">
    <div class="logo">
      <a href="./index.html" class="btn logo__link">
        <picture>
          <source srcset="./img/logo@2x.webp" type="image/webp">
          <img loading="lazy" src="./img/logo@2x.png" class="logo__image image" width="103" height="44" alt="Картинка">
        </picture>
      </a>
    </div>

    <nav data-da="#headerMenuMain,1200,first" class="nav">
      <ul class="list-reset nav__list">
        <li class="nav__item dropdown js-dropdown">
          <a href="#" class="btn dropdown__link js-dropdown-btn">
            Продукция
            <span class="icon">
              <svg>
                <use xlink:href="img/icons/nav-arrow-down.svg#svg-nav-arrow-down"></use>
              </svg>
            </span>
          </a>
          <div class="dropdown-content">
            <ul class="list-reset dropdown__list">
              <li class="dropdown__item dropdown dropdown--nested js-dropdown--nested">
                <a href="#" class="btn dropdown__link js-dropdown-btn">
                  Диспансеры
                  <span class="icon">
                    <svg>
                      <use xlink:href="img/icons/nav-arrow-right.svg#svg-nav-arrow-right"></use>
                    </svg>
                  </span>
                </a>
                <div class="dropdown-content">
                  <ul class="list-reset dropdown__list">
                    <li class="dropdown__item">
                      <a href="#" class="btn dropdown__link">
                        Для туалетной бумаги
                      </a>
                    </li>
                    <li class="dropdown__item">
                      <a href="#" class="btn dropdown__link">
                        Для бумажных полотенец
                      </a>
                    </li>
                    <li class="dropdown__item">
                      <a href="#" class="btn dropdown__link">
                        Для антисептика
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="dropdown__item dropdown dropdown--nested js-dropdown--nested">
                <a href="#" class="btn dropdown__link js-dropdown-btn">
                  Дозаторы
                  <span class="icon">
                    <svg>
                      <use xlink:href="img/icons/nav-arrow-right.svg#svg-nav-arrow-right"></use>
                    </svg>
                  </span>
                </a>
                <div class="dropdown-content">
                  <ul class="list-reset dropdown__list">
                    <li class="dropdown__item">
                      <a href="#" class="btn dropdown__link">
                        Для туалетной бумаги
                      </a>
                    </li>
                    <li class="dropdown__item">
                      <a href="#" class="btn dropdown__link">
                        Для бумажных полотенец
                      </a>
                    </li>
                    <li class="dropdown__item">
                      <a href="#" class="btn dropdown__link">
                        Для антисептика
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav__item dropdown js-dropdown">
          <a href="#" class="btn dropdown__link js-dropdown-btn">
            Коллекции
            <span class="icon">
              <svg>
                <use xlink:href="img/icons/nav-arrow-down.svg#svg-nav-arrow-down"></use>
              </svg>
            </span>
          </a>
          <div class="dropdown-content">
            <ul class="list-reset dropdown__list">
              <li class="dropdown__item dropdown dropdown--nested js-dropdown--nested">
                <a href="#" class="btn dropdown__link js-dropdown-btn">
                  Диспансеры
                  <span class="icon">
                    <svg>
                      <use xlink:href="img/icons/nav-arrow-right.svg#svg-nav-arrow-right"></use>
                    </svg>
                  </span>
                </a>
                <div class="dropdown-content">
                  <ul class="list-reset dropdown__list">
                    <li class="dropdown__item">
                      <a href="#" class="btn dropdown__link">
                        Для туалетной бумаги
                      </a>
                    </li>
                    <li class="dropdown__item">
                      <a href="#" class="btn dropdown__link">
                        Для бумажных полотенец
                      </a>
                    </li>
                    <li class="dropdown__item">
                      <a href="#" class="btn dropdown__link">
                        Для антисептика
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="dropdown__item dropdown dropdown--nested js-dropdown--nested">
                <a href="#" class="btn dropdown__link js-dropdown-btn">
                  Дозаторы
                  <span class="icon">
                    <svg>
                      <use xlink:href="img/icons/nav-arrow-right.svg#svg-nav-arrow-right"></use>
                    </svg>
                  </span>
                </a>
                <div class="dropdown-content">
                  <ul class="list-reset dropdown__list">
                    <li class="dropdown__item">
                      <a href="#" class="btn dropdown__link">
                        Для туалетной бумаги
                      </a>
                    </li>
                    <li class="dropdown__item">
                      <a href="#" class="btn dropdown__link">
                        Для бумажных полотенец
                      </a>
                    </li>
                    <li class="dropdown__item">
                      <a href="#" class="btn dropdown__link">
                        Для антисептика
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav__item dropdown js-dropdown">
          <a href="#" class="btn dropdown__link js-dropdown-btn">
            О компании
            <span class="icon">
              <svg>
                <use xlink:href="img/icons/nav-arrow-down.svg#svg-nav-arrow-down"></use>
              </svg>
            </span>
          </a>
          <div class="dropdown-content">
            <ul class="list-reset dropdown__list">
              <li class="dropdown__item dropdown dropdown--nested js-dropdown--nested">
                <a href="#" class="btn dropdown__link js-dropdown-btn">
                  Диспансеры
                  <span class="icon">
                    <svg>
                      <use xlink:href="img/icons/nav-arrow-right.svg#svg-nav-arrow-right"></use>
                    </svg>
                  </span>
                </a>
                <div class="dropdown-content">
                  <ul class="list-reset dropdown__list">
                    <li class="dropdown__item">
                      <a href="#" class="btn dropdown__link">
                        Для туалетной бумаги
                      </a>
                    </li>
                    <li class="dropdown__item">
                      <a href="#" class="btn dropdown__link">
                        Для бумажных полотенец
                      </a>
                    </li>
                    <li class="dropdown__item">
                      <a href="#" class="btn dropdown__link">
                        Для антисептика
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="dropdown__item dropdown dropdown--nested js-dropdown--nested">
                <a href="#" class="btn dropdown__link js-dropdown-btn">
                  Дозаторы
                  <span class="icon">
                    <svg>
                      <use xlink:href="img/icons/nav-arrow-right.svg#svg-nav-arrow-right"></use>
                    </svg>
                  </span>
                </a>
                <div class="dropdown-content">
                  <ul class="list-reset dropdown__list">
                    <li class="dropdown__item">
                      <a href="#" class="btn dropdown__link">
                        Для туалетной бумаги
                      </a>
                    </li>
                    <li class="dropdown__item">
                      <a href="#" class="btn dropdown__link">
                        Для бумажных полотенец
                      </a>
                    </li>
                    <li class="dropdown__item">
                      <a href="#" class="btn dropdown__link">
                        Для антисептика
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav__item dropdown js-dropdown">
          <a href="#" class="btn dropdown__link js-dropdown-btn">
            Для профессионалов
            <span class="icon">
              <svg>
                <use xlink:href="img/icons/nav-arrow-down.svg#svg-nav-arrow-down"></use>
              </svg>
            </span>
          </a>
          <div class="dropdown-content">
            <ul class="list-reset dropdown__list">
              <li class="dropdown__item dropdown dropdown--nested js-dropdown--nested">
                <a href="#" class="btn dropdown__link js-dropdown-btn">
                  Диспансеры
                  <span class="icon">
                    <svg>
                      <use xlink:href="img/icons/nav-arrow-right.svg#svg-nav-arrow-right"></use>
                    </svg>
                  </span>
                </a>
                <div class="dropdown-content">
                  <ul class="list-reset dropdown__list">
                    <li class="dropdown__item">
                      <a href="#" class="btn dropdown__link">
                        Для туалетной бумаги
                      </a>
                    </li>
                    <li class="dropdown__item">
                      <a href="#" class="btn dropdown__link">
                        Для бумажных полотенец
                      </a>
                    </li>
                    <li class="dropdown__item">
                      <a href="#" class="btn dropdown__link">
                        Для антисептика
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="dropdown__item dropdown dropdown--nested js-dropdown--nested">
                <a href="#" class="btn dropdown__link js-dropdown-btn">
                  Дозаторы
                  <span class="icon">
                    <svg>
                      <use xlink:href="img/icons/nav-arrow-right.svg#svg-nav-arrow-right"></use>
                    </svg>
                  </span>
                </a>
                <div class="dropdown-content">
                  <ul class="list-reset dropdown__list">
                    <li class="dropdown__item">
                      <a href="#" class="btn dropdown__link">
                        Для туалетной бумаги
                      </a>
                    </li>
                    <li class="dropdown__item">
                      <a href="#" class="btn dropdown__link">
                        Для бумажных полотенец
                      </a>
                    </li>
                    <li class="dropdown__item">
                      <a href="#" class="btn dropdown__link">
                        Для антисептика
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </nav>

    <ul class="list-reset user__list">
      <li class="user__item">
        <a href="#" class="btn btn-bag user__link" data-bag-current="23">
          <span class="icon">
            <svg>
              <use xlink:href="img/icons/bag.svg#svg-bag"></use>
            </svg>
          </span>
        </a>
      </li>
      <li class="user__item">
        <div class="search js-search">
          <button class="btn user__link search__btn js-search-btn">
            <span class="icon">
              <svg>
                <use xlink:href="img/icons/search.svg#svg-search"></use>
              </svg>
            </span>
          </button>
          <form class="search__form">
            <input type="text" class="field search__field" name="search" placeholder="Поиск по сайту">
          </form>
        </div>
      </li>
    </ul>

    <a href="mailto:info@eleor.ru" data-da="#headerMenuCallback,1200,first" class="btn callback__link">
      info@eleor.ru
    </a>

    <a href="tel:+88006406545" data-da="#headerMenuCallback,1200,last" class="btn callback__link">
      8 800 640 65 45
    </a>

    <button class="btn burger d-none d-xl-flex" aria-label="Открыть меню" aria-expanded="false" data-burger>
      <span class="burger__line"></span>
    </button>
  </div>
</header>

<div id="headerMenu" class="header__menu d-none d-xl-flex" data-menu>
  <div class="header__menu-header">
    <button class="btn header__menu-close burger burger--active" aria-label="Закрыть меню" aria-expanded="false" data-menu-close>
      <span class="burger__line"></span>
    </button>

    <div class="header__logo">
      <a href="#" class="btn header__logo-link">
        <picture>
          <source srcset="./img/logo@2x.webp" type="image/webp">
          <img loading="lazy" src="./img/logo@2x.png" class="header__logo-image image" width="" height="" alt="Картинка">
        </picture>
      </a>
    </div>
  </div>
  <div id="headerMenuMain" class="header__menu-main"></div>
  <div id="headerMenuCallback" class="header__menu-callback"></div>
</div>

<div data-menu-overlay="false"></div>